<div class="row">
	<h2>About Page</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, hic recusandae delectus non necessitatibus dolorem quos laboriosam assumenda facere tempora! Perspiciatis, delectus, voluptas eveniet doloremque possimus corporis commodi repellat fugit.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, hic recusandae delectus non necessitatibus dolorem quos laboriosam assumenda facere tempora! Perspiciatis, delectus, voluptas eveniet doloremque possimus corporis commodi repellat fugit.</p>
</div>